.create-room-btn {
  margin-top: 100px;
}

.confirm-join-room-btn {
  margin-top: 100px;
}

.confirm-join-room-btn-room-id {
  margin-top: 1rem;
}

.green-text {
  color: #198754;
  font-weight: bold;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  grid-auto-rows: 190px;
}

.video-grid video {
  height: 100%;
  width: 100%;
}

.local-video {
  border: 5px solid #198754;
}

.joining-room-spinner {
  margin-top: 100px;
}
